<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medisun Pharma</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="main-header">
        <nav class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="../static/images/logo.png" alt="Medisun-Pharma Logo">
                </a>
            </div>
        </header>

    <!--Navbar-->
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/AboutUs">About Us</a></li>
                <li><a href="/distributors">Distributors</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/carrer">Career</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
            <div>
                {% if user_name %}
                    <div class="dropdown user-dropdown">
                        <span href="#" class="btn btn-primary dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Hello, {{ user_name }}
                        </span>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="/login" class="btn btn-primary btn-login">Login</a>
                    <a href="/sign_up" class="btn btn-primary btn-signup">Sign-Up</a>
                {% endif %}
            </div>
        </nav>
    </header>
    
    <main>
        <p>Your health is our priority. Explore our products and services.</p>
    </main>
    
    <footer>
        <p>© Copyright 2017 Medisum Pharma</p>
    </footer>

    <script src="../static/js/script.js"></script>
</body>
</html>